@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shana's Portfolio</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap css file-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/bootstrap.min.css">
    <!-- Syntax Highlighter -->
    <link href="~/Content/SyntaxHighlighter/shCore.css" rel="stylesheet">
    <link href="~/Content/SyntaxHighlighter/shCoreEmacs.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shThemeEmacs.css" rel="stylesheet" />
    <!--Main Stylesheet Files-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/style.css">
    <link href="~/Assets/css/customstyle.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <!-- =======================================================
      Theme Name: Bethany
      Theme URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <!--header-->
    <header class="main-header" id="header">
        <div class="bg-color">
            <!--nav-->
            <nav class="nav navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                                <span class="fa fa-bars"></span>
                            </button>
                            <a href="index.html" class="navbar-brand"> </a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#header">Home</a></li>
                                <li><a href="#cta-1">About Me</a></li>
                                <li><a href="#skills">Skills</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!--/ nav-->
            <div class="container text-center">
                <div class="wrapper wow fadeInUp delay-05s">
                    <h2 class="top-title"></h2>
                    <h3 class="title">Shana Sanders' Portfolio</h3>
                    <h4 class="sub-title"> Full Stack Web Developer </h4>
                </div>
            </div>
        </div>
    </header>
    <!--/ header-->
    <!---->
    <section id="cta-1">
        <div class="container">
            <div class="row">
                <div class="cta-info text-center">
                    <h2 div class="head-title">About Me </h2>
                    <h3><span class="dec-tec"></span>I am a Web Designer and Front End Developer focused on crafting clean and user-friendly experiences.<span class="dec-tec"></span></h3>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <!---->
    <section id="skills" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft delay-05s">
                    <div class="section-title">
                        <h2 class="head-title">Skills</h2>
                        <hr class="botm-line">
                        <p class="sec-para"></p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-6 wow fadeInRight delay-02s">
                        <div class="icon">
                            <i class="fa fa-paint-brush"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">HTML</h3>
                            <p class="txt-para"> </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-02s">
                        <div class="icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Bootstrap</h3>
                            <p class="txt-para"> </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-04s">
                        <div class="icon">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Javascript</h3>
                            <p class="txt-para"> </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-04s">
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">CSS</h3>
                            <p class="txt-para"> </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-06s">
                        <div class="icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">JQuery</h3>
                            <p class="txt-para"> </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-06s">
                        <div class="icon">
                            @*<i class="fa fa-briefcase"></i>*@
                        </div>
                        @*<div class="icon-text">
                                <h3 class="txt-tl">Database Technologies</h3>
                                <p class="txt-para"></p>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <section class="section-padding parallax bg-image-2 section wow fadeIn delay-08s" id="cta-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="cta-txt">
                        <h3> </h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4 text-center">

                </div>
            </div>
        </div>
    </section>
    <!---->
    <!---->
    <section class="section-padding wow fadeInUp delay-02s" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="section-title">
                        <h2 class="head-title">Portfolio</h2>
                        @*<h4><a href="" data-toggle="modal" data-target="#mymodal"> see my work modal.</a></h4>
                             <h4><a href="" data-toggle="modal" data-target="#mymodal2"> see my work modal.</a></h4>
                             <h4><a href="" data-toggle="modal" data-target="#mymodal3"> see my work modal.</a></h4>
                             <h4><a href="" data-toggle="modal" data-target="#mymodal4"> see my work modal.</a></h4>
                            <h4><a href="" data-toggle="modal" data-target="#mymodal5"> see my work modal.</a></h4>
                             <h4><a href="" data-toggle="modal" data-target="#mymodal6"> see my work modal.</a></h4>
                            <h4><a href="" data-toggle="modal" data-target="#mymodal7"> see my work modal.</a></h4>
                             <h4><a href="" data-toggle="modal" data-target="#mymodal8"> see my work modal.</a></h4>*@
                        <hr class="botm-line">
                        <p class="sec-para"></p>
                    </div>
                    @*<div class="dropdown">
                                             <button class="button5" dropdown-toggle" type="button" data-toggle="dropdown">
                                                 JS Exercises
                                                 <span class="caret"></span>
                                             </button>
                                             <ul class="dropdown-menu" style="
                        max-height: 65px;
                         overflow: auto;
                         ">
                                                 <li><a href="" data-toggle="modal" data-target="myModal">Least</a></li>
                                                 <li><a href="" data-toggle="modal" data-target="#mymodal2">Greatest</a></li>
                                                 <li><a href="" data-toggle="modal" data-target="#mymodal3">Mean</a></li>
                                                 <li><a href="" data-toggle="modal" data-target="#mymodal4">Sum</a></li>
                                                 <li><a href="" data-toggle="modal" data-target="#mymodal5">Product</a></li>
                                                 <li><a href="" data-toggle="modal" data-target="#mymodal6">Factorial</a></li>
                                                 <li><a href="" data-toggle="modal" data-target="#mymodal7">FizzBuzz</a></li>
                                                 <li><a href="" data-toggle="modal" data-target="#mymodal8">Palindrome</a></li>
                                             </ul>

                                         </div>*@
                </div>
                <div class="col-md-9 col-sm-12">
                    <div id="effectOne" class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="~/Assets/img/imageedit_1_8857662543.jpg" alt="" class="img-responsive grayscale">
                            <div class="overlay" style="
                                height: 92%;
                                    width: 94%;
                                left: 5.5%;
                                color: black;">
                                @*<img src="~/Assets/img/usglenn-carstens-peters-203007.jpg" alt="Avatar" class="image">*@
                                <div class="overlay">
                                    @*<div class="text">Blog</div>*@
                                    <div class="dropdown" style="
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    ">
                                        <button class="button5" dropdown-toggle" type="button" data-toggle="dropdown">
                                            Blog
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="
   max-height: 65px;
    overflow: auto;
    ">
                                            <li><a href="http://ssanders-blog.azurewebsites.net/" data-toggle="modal" data-target="">My Blog</a></li>
                                            @*<li><a href="" data-toggle="modal" data-target="#mymodal2">Greatest</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal3">Mean</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal4">Sum</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal5">Product</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal6">Factorial</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal7">FizzBuzz</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal8">Palindrome</a></li>*@
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="effectTwo" class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="~/Assets/img/imageedit_1_3155391220.jpg" alt="" class="img-responsive grayscale">
                            <div class="overlay" style="
                                    height: 92%;
                                    width: 94%;
                                left: 5.5%;
                                color: black;">
                                @*<img src="~/Assets/img/usglenn-carstens-peters-203007.jpg" alt="Avatar" class="image">*@
                                <div class="overlay">
                                    @*<div class="text">Bug Tracker</div>*@
                                    <div class="dropdown" style="
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    ">
                                        <button class="button5" dropdown-toggle" type="button" data-toggle="dropdown">
                                            Bug
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="
   max-height: 65px;
    overflow: auto;
    ">
                                            <li><a href="" data-toggle="modal" data-target="">Coming Soon!</a></li>
                                            @*<li><a href="" data-toggle="modal" data-target="#mymodal2">Greatest</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal3">Mean</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal4">Sum</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal5">Product</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal6">Factorial</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal7">FizzBuzz</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal8">Palindrome</a></li>*@
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="effectThree" class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="~/Assets/img/imageedit_1_8510233387.jpg" alt="" class="img-responsive grayscale">
                            <div class="overlay" style="
                                    height: 92%;
                                    width: 94%;
                                left: 5.5%;
                                color: black;">
                                @*<img src="~/Assets/img/usglenn-carstens-peters-203007.jpg" alt="Avatar" class="image">*@
                                <div class="overlay">
                                    @*<div class="text">Financial Planner</div>*@
                                    <div class="dropdown" style="
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    ">
                                        <button class="button5" dropdown-toggle" type="button" data-toggle="dropdown">
                                            Financial
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="
   max-height: 65px;
    overflow: auto;
    ">
                                            <li><a href="" data-toggle="modal" data-target="">Coming Soon!</a></li>
                                            @*<li><a href="" data-toggle="modal" data-target="#mymodal2">Greatest</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal3">Mean</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal4">Sum</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal5">Product</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal6">Factorial</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal7">FizzBuzz</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal8">Palindrome</a></li>*@
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="effectFour" class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="~/Assets/img/imageedit_1_3635499618.jpg" alt="" class="img-responsive grayscale">
                            <div class="overlay" style="
                                height: 92%;
                                    width: 94%;
                                left: 5.5%;
                                color: black;">
                                @*<img src="~/Assets/img/usglenn-carstens-peters-203007.jpg" alt="Avatar" class="image">*@
                                <div class="overlay">
                                    @*<div class="text">Vehicle Info App</div>*@
                                    <div class="dropdown" style="
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    ">
                                        <button class="button5" dropdown-toggle" type="button" data-toggle="dropdown">
                                            Vehicle
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="
   max-height: 65px;
    overflow: auto;
    ">
                                            <li><a href="" data-toggle="modal" data-target="">Coming Soon!</a></li>
                                            @*<li><a href="" data-toggle="modal" data-target="#mymodal2">Greatest</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal3">Mean</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal4">Sum</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal5">Product</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal6">Factorial</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal7">FizzBuzz</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal8">Palindrome</a></li>*@
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="effectFive" class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="~/Assets/img/imageedit_1_6112919423.jpg" alt="" class="img-responsive grayscale">
                            <div class="overlay" style="
                                    height: 92%;
                                    width: 94%;
                                left: 5.5%;
                                color: black;">
                                @*<img src="~/Assets/img/port05.jpg" alt="Avatar" class="image">*@
                                <div class="overlay">
                                    @*<div class="text">Personal Project</div>*@
                                    <div class="dropdown" style="
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    ">
                                        <button class="button5" dropdown-toggle" type="button" data-toggle="dropdown">
                                            Personal
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="
   max-height: 65px;
    overflow: auto;
    ">
                                            <li><a href="" data-toggle="modal" data-target="">Coming Soon!</a></li>
                                            @*<li><a href="" data-toggle="modal" data-target="#mymodal2">Greatest</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal3">Mean</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal4">Sum</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal5">Product</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal6">Factorial</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal7">FizzBuzz</a></li>
                                                <li><a href="" data-toggle="modal" data-target="#mymodal8">Palindrome</a></li>*@
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="effectSix" class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="~/Assets/img/imageedit_1_4372749932.jpg" alt="" class="img-responsive grayscale">
                            <div class="overlay" style="
                                height: 92%;
                                    width: 94%;
                                left: 5.5%;
                                color: black;">
                                @*<img src="~/Assets/img/usglenn-carstens-peters-203007.jpg" alt="Avatar" class="image">*@
                                <div class="overlay">
                                    @*<div class="text">Javascript Exercises</div>*@
                                    <div class="dropdown" style="
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    ">
                                        <button class="button5" dropdown-toggle" type="button" data-toggle="dropdown">
                                            JS Exercises
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="
   max-height: 65px;
    overflow: auto;
    ">
                                            <li><a href="" data-toggle="modal" data-target="#mymodal">Least</a></li>
                                            <li><a href="" data-toggle="modal" data-target="#mymodal2">Greatest</a></li>
                                            <li><a href="" data-toggle="modal" data-target="#mymodal3">Mean</a></li>
                                            <li><a href="" data-toggle="modal" data-target="#mymodal4">Sum</a></li>
                                            <li><a href="" data-toggle="modal" data-target="#mymodal5">Product</a></li>
                                            <li><a href="" data-toggle="modal" data-target="#mymodal6">Factorial</a></li>
                                            <li><a href="" data-toggle="modal" data-target="#mymodal7">FizzBuzz</a></li>
                                            <li><a href="" data-toggle="modal" data-target="#mymodal8">Palindrome</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <section class="section-padding parallax bg-image-2 section wow fadeIn delay-08s" id="cta-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="cta-txt">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4 text-center">

                </div>
            </div>
        </div>
    </section>
    <!---->
    <section class="section-padding section wow fadeInUp delay-05s" id="contact">
        <div class="container">

            <div class="row white">
                <div class="col-md-8 col-sm-12">
                    <div class="section-title">
                        <h2 class="head-title black">Contact</h2>
                        <hr class="botm-line">
                        <p class="sec-para black"></p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                        <h3 class="cont-title">Email Me</h3>
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <div class="contact-info">
                            @*<form action="" method="post" role="form" class="contactForm">*@
                                @using (Html.BeginForm())
                                {
                                            @Html.AntiForgeryToken()
                                            <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                        <div class="validation"></div>
                                    </div>

                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                        <div class="validation"></div>
                                    </div>

                                    <button type="submit" class="button5" style=" color: white; background-color: #1C2F2F; border: 2px solid #1c2f2f;">Send</button>
                                }
                            @*</form>*@
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h3 class="cont-title"></h3>
                        <div class="location-info">
                            <p class="white"><span aria-hidden="true" class="fa fa-map-marker"></span>High Point, Nc</p>
                            <p class="white"><span aria-hidden="true" class="fa fa-phone"></span>(336)906-7160</p>
                            <p class="white">
                                <span aria-hidden="true" class="fa fa-envelope"></span>shanamcclain7@gmail.com
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/shana-sanders-890545aa/"><i class="fa fa-linkedin-square" style="font-size:28px"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="contact-icon-container hidden-md hidden-sm hidden-xs">
                            <span aria-hidden="true" class="fa fa-envelope-o"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <!---->
    <footer class="" id="footer">
        <div class="container">
            <div class="row">
                @*<div class="col-sm-7 footer-copyright">
                    © Bethany Theme - All rights reserved
                    <div class="credits">*@
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bethany
                -->
                @*Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>*@
            </div>

            <div class="col-sm-5 footer-social">
                <div class="pull-right hidden-xs hidden-sm">
                    @*<a href="https://www.linkedin.com/in/shana-sanders-890545aa/"><i class="fa fa-linkedin-square"></i></a>
                        @*<a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>*@
                </div>
            </div>
        </div>

    </footer>
    <!---->
    <!--myModal-->
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">JS Exercises</h1>
                </div>
                <div class="modal-body col-sm-12">
                    <h3>Least</h3>
                    <input type="number" id="f" />
                    <p></p>
                    <input type="number" id="g" />
                    <p></p>
                    <input type="number" id="h" />
                    <p></p>
                    <input type="number" id="i" />
                    <p></p>
                    <input type="number" id="j" />
                    <br />
                    <p>=</p>
                    <p id="lowest"></p>
                    <button onclick="lowestNumber()">lowest</button>

                    <pre class="brush: js">

      function lowestNumber() {
            var value1 = Number(document.getElementById('f').value);
            var value2 = Number(document.getElementById('g').value);
            var value3 = Number(document.getElementById('h').value);
            var value4 = Number(document.getElementById('i').value);
            var value5 = Number(document.getElementById('j').value);
            var result = Math.min(value1, value2, value3, value4, value5);
            document.getElementById("lowest").innerHTML = result;
        }

</pre>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>

    <!--myModal2-->
    <div class="modal fade" id="mymodal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">JS Exercises</h1>
                </div>
                <div class="modal-body col-sm-12">
                    <h3>Greatest</h3>
                    <input type="number" id="a" />
                    <p></p>
                    <input type="number" id="b" />
                    <p></p>
                    <input type="number" id="c" />
                    <p></p>
                    <input type="number" id="d" />
                    <p></p>
                    <input type="number" id="e" />
                    <br />
                    <p>=</p>
                    <p id="greatest"></p>
                    <button onclick="highestNumber()">greatest</button>

                    <pre class="brush: js">

      function highestNumber() {
            var value1 = Number(document.getElementById('a').value);
            var value2 = Number(document.getElementById('b').value);
            var value3 = Number(document.getElementById('c').value);
            var value4 = Number(document.getElementById('d').value);
            var value5 = Number(document.getElementById('e').value);
            var result = Math.max(value1, value2, value3, value4, value5);
            document.getElementById("greatest").innerHTML = result;
        }

</pre>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>

    <!--myModal3-->
    <div class="modal fade" id="mymodal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">JS Exercises</h1>
                </div>
                <div class="modal-body col-sm-12">
                    <h3>Mean</h3>
                    <input type="number" id="lNum" />
                    <p></p>
                    <input type="number" id="gNum" />
                    <p></p>
                    <input type="number" id="hNum" />
                    <p></p>
                    <input type="number" id="iNum" />
                    <p></p>
                    <input type="number" id="jNum" />
                    <br />
                    <p>=</p>
                    <p id="mean"></p>
                    <button onclick="sumplus()">mean</button>

                    <pre class="brush: js">

       function sumplus() {
            var value1 = Number(document.getElementById("lNum").value);
            var value2 = Number(document.getElementById("gNum").value);
            var value3 = Number(document.getElementById("hNum").value);
            var value4 = Number(document.getElementById("iNum").value);
            var value5 = Number(document.getElementById("jNum").value);
            var result = (value1 + value2 + value3 + value4 + value5) / 5;
            document.getElementById("mean").innerHTML = result;
        }

</pre>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>

    <!--myModal4-->
    <div class="modal fade" id="mymodal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">JS Exercises</h1>
                </div>
                <div class="modal-body col-sm-12">
                    <h3>Sum</h3>
                    <input type="number" id="fNum" />
                    <p></p>
                    <input type="number" id="sNum" />
                    <p></p>
                    <input type="number" id="tNum" />
                    <p></p>
                    <input type="number" id="aNum" />
                    <p></p>
                    <input type="number" id="eNum" />
                    <br />
                    <p>=</p>
                    <p id="result"></p>
                    <button onclick="calculator()">Add</button>

                    <pre class="brush: js">

 function calculator() {
            var value1 = Number(document.getElementById("fNum").value);
            var value2 = Number(document.getElementById("sNum").value);
            var value3 = Number(document.getElementById("tNum").value);
            var value4 = Number(document.getElementById("aNum").value);
            var value5 = Number(document.getElementById("eNum").value);
            document.getElementById("result").innerHTML = value1 + value2 + value3 + value4 + value5;
        }
      
</pre>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>

    <!--myModal5-->
    <div class="modal fade" id="mymodal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">JS Exercises</h1>
                </div>
                <div class="modal-body col-sm-12">
                    <h3>Product</h3>
                    <input type="number" id="zNum" />
                    <p></p>
                    <input type="number" id="bNum" />
                    <p></p>
                    <input type="number" id="cNum" />
                    <p></p>
                    <input type="number" id="dNum" />
                    <p></p>
                    <input type="number" id="yNum" />
                    <br />
                    <p>=</p>
                    <p id="product"></p>
                    <button onclick="sum()">Product</button>

                    <pre class="brush: js">

     function sum() {
            var value1 = Number(document.getElementById("zNum").value);
            var value2 = Number(document.getElementById("bNum").value);
            var value3 = Number(document.getElementById("cNum").value);
            var value4 = Number(document.getElementById("dNum").value);
            var value5 = Number(document.getElementById("yNum").value);
            document.getElementById("product").innerHTML = value1 * value2 * value3 * value4 * value5;
        }
        
</pre>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>

    <!--myModal5-->
    <div class="modal fade" id="mymodal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">JS Exercises</h1>
                </div>
                <div class="modal-body col-sm-12">
                    <h3>Product</h3>
                    <input type="number" id="zNum" />
                    <p></p>
                    <input type="number" id="bNum" />
                    <p></p>
                    <input type="number" id="cNum" />
                    <p></p>
                    <input type="number" id="dNum" />
                    <p></p>
                    <input type="number" id="yNum" />
                    <br />
                    <p>=</p>
                    <p id="product"></p>
                    <button onclick="sum()">Product</button>

                    <pre class="brush: js">

     function sum() {
            var value1 = Number(document.getElementById("zNum").value);
            var value2 = Number(document.getElementById("bNum").value);
            var value3 = Number(document.getElementById("cNum").value);
            var value4 = Number(document.getElementById("dNum").value);
            var value5 = Number(document.getElementById("yNum").value);
            document.getElementById("product").innerHTML = value1 * value2 * value3 * value4 * value5;
        }
        
</pre>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>

    <!--myModal6-->
    <div class="modal fade" id="mymodal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">JS Exercises</h1>
                </div>
                <div class="modal-body col-sm-12">
                    <h3>Factorial</h3>
                    Enter Number:
                    <input id="num">
                    <button onclick="show()">Factorial</button>
                    <input id="answer">

                    <pre class="brush: js">

      function show(x) {
            var i, no, fact;
            fact = 1;
            no = Number(document.getElementById("num").value);
            for (i = 1; i <= no; i++) {
                fact = fact * i;
            }
            document.getElementById("answer").value = fact;
        }
        
</pre>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>


    <!-- myModal7 -->
    <div class="modal fade" id="mymodal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">JS Exercises</h1>
                </div>
                <div class="modal-body col-sm-12">
                    <h3>FizzBuzz</h3>
                    <input type="number" id="one" placeholder="Enter number one" />
                    <br />
                    <input type="number" id="two" placeholder="Enter number two" />
                    <button onclick="iterator()">Iterate</button>
                    <p id="iteratorResult"></p>

                    <pre class="brush: js">

      function iterator() {
            var value1 = Number(document.getElementById("one").value);
            var value2 = Number(document.getElementById("two").value);
            var result = "";

            for (i = 1; i <= 100; i++) {

                // if the number is divisible by both values, write "FizzBuzz"
                if (i % value1 === 0 && i % value2 === 0) {
                    result += "FizzBuzz ";
                }

                // if the number is divisible by first value, write "Fizz"
                else if (i % value1 === 0) {
                    result += "Fizz ";
                }

                // if the number is divisible by second vaule, write "Buzz"
                else if (i % value2 === 0) {
                    result += "Buzz ";

                }

                else {
                    result += i + " ";
                }
            }
            document.getElementById("iteratorResult").innerHTML = result;
        }
        
</pre>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>

    <!-- myModal8-->
    <div class="modal fade" id="mymodal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">JS Exercises</h1>
                </div>
                <div class="modal-body col-sm-12">
                    <h3>Palindrome</h3>
                    <input type="text" name="getStr" id="getStr" />
                    <br />
                    <div id="resultMsg"></div>
                    <button onclick="chkStringPalindrome()">result</button>

                    <pre class="brush: js">

   function chkStringPalindrome() {
            var isPalindrome = true;
            var resultMsg = document.getElementById("resultMsg");
            var strElement = document.getElementById("getStr");
            var str = "";
            if (strElement != null) {
                str = strElement.value;
                var strLength = str.length;
                var mid = strLength / 2;
                for (i = 0; i < mid; i++) {
                    if (str.charAt(i) != str.charAt(strLength - i - 1)) {
                        isPalindrome = false;
                        break;
                    }
                }
            }
            if (isPalindrome) {
                resultMsg.innerHTML = str + "\ is a Palindrome";
            } else {
                resultMsg.innerHTML = str + "\ is not a Palindrome";
            }
        }
</pre>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>


    <!--contact ends-->
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.easing.min.js"></script>
    <script src="~/Assets/js/wow.js"></script>
    <script src="~/Assets/js/custom.js"></script>
    <script src="~/Assets/contactform/contactform.js"></script>

    <!--Syntax Highlighter-->
    <script src="~/Scripts/SyntaxHighlighter/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
    <script>
        SyntaxHighlighter.all();

        function calculator() {
            var value1 = Number(document.getElementById("fNum").value);
            var value2 = Number(document.getElementById("sNum").value);
            var value3 = Number(document.getElementById("tNum").value);
            var value4 = Number(document.getElementById("aNum").value);
            var value5 = Number(document.getElementById("eNum").value);
            document.getElementById("result").innerHTML = value1 + value2 + value3 + value4 + value5;
        }


        function sum() {
            var value1 = Number(document.getElementById("zNum").value);
            var value2 = Number(document.getElementById("bNum").value);
            var value3 = Number(document.getElementById("cNum").value);
            var value4 = Number(document.getElementById("dNum").value);
            var value5 = Number(document.getElementById("yNum").value);
            document.getElementById("product").innerHTML = value1 * value2 * value3 * value4 * value5;
        }

        function sumplus() {
            var value1 = Number(document.getElementById("lNum").value);
            var value2 = Number(document.getElementById("gNum").value);
            var value3 = Number(document.getElementById("hNum").value);
            var value4 = Number(document.getElementById("iNum").value);
            var value5 = Number(document.getElementById("jNum").value);
            var result = (value1 + value2 + value3 + value4 + value5) / 5;
            document.getElementById("mean").innerHTML = result;
        }

        function highestNumber() {
            var value1 = Number(document.getElementById('a').value);
            var value2 = Number(document.getElementById('b').value);
            var value3 = Number(document.getElementById('c').value);
            var value4 = Number(document.getElementById('d').value);
            var value5 = Number(document.getElementById('e').value);
            var result = Math.max(value1, value2, value3, value4, value5);
            document.getElementById("greatest").innerHTML = result;
        }

        function lowestNumber() {
            var value1 = Number(document.getElementById('f').value);
            var value2 = Number(document.getElementById('g').value);
            var value3 = Number(document.getElementById('h').value);
            var value4 = Number(document.getElementById('i').value);
            var value5 = Number(document.getElementById('j').value);
            var result = Math.min(value1, value2, value3, value4, value5);
            document.getElementById("lowest").innerHTML = result;
        }

        function show(x) {
            var i, no, fact;
            fact = 1;
            no = Number(document.getElementById("num").value);
            for (i = 1; i <= no; i++) {
                fact = fact * i;
            }
            document.getElementById("answer").value = fact;
        }

        function iterator() {
            var value1 = Number(document.getElementById("one").value);
            var value2 = Number(document.getElementById("two").value);
            var result = "";

            for (i = 1; i <= 100; i++) {

                // if the number is divisible by both values, write "FizzBuzz"
                if (i % value1 === 0 && i % value2 === 0) {
                    result += "FizzBuzz ";
                }

                // if the number is divisible by first value, write "Fizz"
                else if (i % value1 === 0) {
                    result += "Fizz ";
                }

                // if the number is divisible by second vaule, write "Buzz"
                else if (i % value2 === 0) {
                    result += "Buzz ";

                }

                else {
                    result += i + " ";
                }
            }
            document.getElementById("iteratorResult").innerHTML = result;
        }


        function chkStringPalindrome() {
            var isPalindrome = true;
            var resultMsg = document.getElementById("resultMsg");
            var strElement = document.getElementById("getStr");
            var str = "";
            if (strElement != null) {
                str = strElement.value;
                var strLength = str.length;
                var mid = strLength / 2;
                for (i = 0; i < mid; i++) {
                    if (str.charAt(i) != str.charAt(strLength - i - 1)) {
                        isPalindrome = false;
                        break;
                    }
                }
            }
            if (isPalindrome) {
                resultMsg.innerHTML = str + "\ is a Palindrome";
            } else {
                resultMsg.innerHTML = str + "\ is not a Palindrome";
            }
        }

    </script>
    <script>
            $(function () {
                swal('Thank you!', '@TempData["BlogMessage"]', 'success');
            });
    </script>
    <script src="~/Scripts/sweetalert.min.js"></script>
</body>
</html>
