/*.container {
    position: relative;
    width: 50%;
}*/

/*.image {
    display: block;
    width: 100%;
    height: auto;
}*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
}

#effectOne:hover .overlay {
    opacity: 0.7;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#effectTwo:hover .overlay {
    opacity: 0.7;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#effectThree:hover .overlay {
    opacity: 0.7;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#effectFour:hover .overlay {
    opacity: 0.7;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#effectFive:hover .overlay {
    opacity: 0.7;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#effectSix:hover .overlay {
    opacity: 0.7;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/*.container:hover .overlay {
    opacity: 1;
}*/

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.button5 {
    background-color: black;
    color: white;
    border: 2px solid #e0e0e0;
    font-weight: bold;

}

    .button5:hover {
        background-color: black;
        color: white;
    }



<!--JS Exercise Functions-->

